name: Analyze Repo with git-sizer
run-name: Analyze Repo with git-sizer - ${{ github.event.inputs.repo }}

on:
  workflow_dispatch:
    inputs:
      repo:
        description: 'Repository to analyze (e.g., https://github.com/owner/repo.git)'
        required: true

jobs:
  run-git-sizer:
    name: git-sizer - ${{ github.event.inputs.repo }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        
      - name: Use local git-sizer action
        id: sizer
        uses: ChrisCarini/github-git-sizer-action@latest
        with:
          repo: ${{ github.event.inputs.repo }}
          flags: '--threshold=0'

      - name: Print git-sizer output
        run: |
          printf "%s\n" "${{ steps.sizer.outputs.result }}"