name: StyleLint

on:
  # Runs on pushes targeting the default branch
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  linters:
    name: stylelint
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - name: Checkout Repo Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Run StyleLint
        uses: Nick2bad4u/stylelint@2709fc4ab011637ffecb8e2cb672ff8aaa832735 # master
        with:
          pattern: |
            electron-app/*.css
            electron-app/**/*.css
