# VSCode Version Matrix - GitHub Action
# Retrieves Electron, Node, and Chromium versions for a given VSCode version

name: VSCode Version Matrix

on:
  workflow_dispatch:
  schedule:
    - cron: "33 3 * * 0" # Runs at 03:33 (UTC) on Sundays

concurrency:
  group: vscode-version-${{ github.ref }}
  cancel-in-progress: false

jobs:
  vscode-versions:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Retrieve VSCode dependency versions
        id: vscode-versions
        uses: EcksDy/vscode-version-matrix@ea57d0731e1d2b1e0040240d64e68496edd8d165 # v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest

      - name: Print Output
        run: |
          echo "vscode-version-name = ${{ steps.vscode-versions.outputs.vscode-version-name }}"
          echo "vscode-version = ${{ steps.vscode-versions.outputs.vscode-version }}"
          echo "released-at = ${{ steps.vscode-versions.outputs.released-at }}"
          echo "electron-version = ${{ steps.vscode-versions.outputs.electron-version }}"
          echo "node-version = ${{ steps.vscode-versions.outputs.node-version }}"
          echo "chromium-version = ${{ steps.vscode-versions.outputs.chromium-version }}"
